
section(class="pageContent")
    h1(class="h1 h1--404") 404
    :markdown
        Whoops. Looks like what you're looking for can't be found. Good thing you can always go back to the [home page](/) :)